<div>
<div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Add Gadgets</h3>
        </div>
   <div id="AddGadgetModal">
   <table class='table'>	
		<tbody>
			<tr>
				<td><img src='dashboard/daily1.png' style='width: 50px; height: 50px; margin: 15px;'>
				</td>
				<td><span>Daily Report -  All Changes (In All tools)</span></td>
			     <td><a class="pull-right btn btn-primary" ng-click="addDaily()"><i class="glyphicon glyphicon-plus"></i>Add</a></td>
			</tr>
          <tr>
            <td><img src='dashboard/useractivities.png' style='width: 50px; height: 50px; margin: 15px;'></td>
            <td>User Activities</td>
            <td><a class="pull-right btn btn-primary" ng-click="addUserActivities()"><i class="glyphicon glyphicon-plus"></i>Add</a></td>
         </tr>
		  <tr>
            <td><img src='dashboard/Scale.png' style='width: 50px; height: 50px; margin: 15px;'></td>
            <td>Sprint Status By Gauge</td>
            <td><a class="pull-right btn btn-primary" ng-click="addGaugeStatus()"><i class="glyphicon glyphicon-plus"></i>Add</a></td>
         </tr>
           <tr>
            <td><img src='dashboard/trends1.png' style='width: 50px; height: 50px; margin: 15px;'></td>
            <td>Trend of Changes Bar</td>
            <td><a class="pull-right btn btn-primary" ng-click="addChangesTrendBar()"><i class="glyphicon glyphicon-plus"></i>Add</a></td>
           </tr>
           <tr>
            <td><img src='dashboard/trendLine.png' style='width: 50px; height: 50px; margin: 15px;'></td>
            <td>Trend of Changes Line</td>
            <td><a class="pull-right btn btn-primary" ng-click="addChangesTrendLine()"><i class="glyphicon glyphicon-plus"></i>Add</a></td>
           </tr>
            <tr>
             <td><img src='dashboard/alerts.png' style='width: 50px; height: 50px; margin: 15px;'></td>
             <td>Alerts</td>
             <td><a class="pull-right btn btn-primary" ng-click="addAlerts()"><i class="glyphicon glyphicon-plus"></i>Add</a></td>
          </tr>	
         	
		</tbody>
	</table>
</div>





</div>